# Universal ignores
**/__pycache__
**/keys.json
.DS_Store
*.csv
**/*.pkl
*.npy
*.json

# Exception for JSON to keep the command embeddings
assets/**/*.json

# Ignore several things in context-match
~
bin
llama3/
.streamlit/
test.ipynb
edgedriver_mac64_m1/
html_files_studylink/
.streamlit/secrets.toml

# Ignore several things in image-match
image-match/images
.vscode/