# Universal ignores
**/__pycache__
**/keys.json
.DS_Store
*.csv
**/*.pkl
*.npy
*.json
**/secrets.toml

# Exception for JSON to keep the command embeddings
!assets/**/*.json

# Exception for .csv settings examples
!assets/csv/matching_example.csv
!assets/csv/threshold_example.csv

# Ignore several things in context-match
~
bin
llama3/
test.ipynb
edgedriver_mac64_m1/
html_files_studylink/

# Exception for theme
!.streamlit/config.toml

# Ignore several things in image-match
.vscode/