# beautifulsoup4==4.12.3 # fetch_neighbours_location.py
# Requests==2.32.3 # fetch_neighbours_location.py
linktransformer==0.1.15
nltk==3.8.1
notion_client==2.2.1
numpy==2.1.1
openai==1.44.1
pandas==2.2.2
rapidfuzz==3.9.4
scipy==1.14.1
sentence_transformers
streamlit==1.32.0
torch<2.4.0
tqdm==4.66.4
pprintpp
