#save_settings_button button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid #4CAF50;
    transition: 0.3s;
}
#save_settings_button button:hover {
    background-color: white;
    color: #4CAF50;
}